/*Material Design Icons set*/
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../font/material-design/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
/*Material Design Icons set*/


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
/*Material Design Icons set*/

/*Mater Design Roboto font*/
@font-face {
    font-family: 'roboto_slabbold';
    src: url('../font/roboto/RobotoSlab-Bold-webfont.eot');
    src: url('../font/roboto/RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto/RobotoSlab-Bold-webfont.woff2') format('woff2'),
         url('../font/roboto/RobotoSlab-Bold-webfont.woff') format('woff'),
         url('../font/roboto/RobotoSlab-Bold-webfont.ttf') format('truetype'),
         url('../font/roboto/RobotoSlab-Bold-webfont.svg#roboto_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_slablight';
    src: url('../font/roboto/RobotoSlab-Light-webfont.eot');
    src: url('../font/roboto/RobotoSlab-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto/RobotoSlab-Light-webfont.woff2') format('woff2'),
         url('../font/roboto/RobotoSlab-Light-webfont.woff') format('woff'),
         url('../font/roboto/RobotoSlab-Light-webfont.ttf') format('truetype'),
         url('../font/roboto/RobotoSlab-Light-webfont.svg#roboto_slablight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_slabregular';
    src: url('../font/roboto/RobotoSlab-Regular-webfont.eot');
    src: url('../font/roboto/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto/RobotoSlab-Regular-webfont.woff2') format('woff2'),
         url('../font/roboto/RobotoSlab-Regular-webfont.woff') format('woff'),
         url('../font/roboto/RobotoSlab-Regular-webfont.ttf') format('truetype'),
         url('../font/roboto/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_slabthin';
    src: url('../font/roboto/RobotoSlab-Thin-webfont.eot');
    src: url('../font/roboto/RobotoSlab-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto/RobotoSlab-Thin-webfont.woff2') format('woff2'),
         url('../font/roboto/RobotoSlab-Thin-webfont.woff') format('woff'),
         url('../font/roboto/RobotoSlab-Thin-webfont.ttf') format('truetype'),
         url('../font/roboto/RobotoSlab-Thin-webfont.svg#roboto_slabthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Mater Design Roboto font*/

.title1 {
  font-family: 'roboto_slabbold';
}
.title2 {
  font-family: 'roboto_slablight';
}
.title3 {
  font-family: 'roboto_slabregular';
}
.title4 {
  font-family: 'roboto_slabthin';
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: rgba(96, 125, 139, 0.8);
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgba(233, 30, 99, 0.7);
    }
}
.dropdown .dropdown-menu .dropdown-item:hover, 
.dropleft .dropdown-menu .dropdown-item:active, 
.dropleft .dropdown-menu .dropdown-item:hover, 
.dropright .dropdown-menu .dropdown-item:active, 
.dropright .dropdown-menu .dropdown-item:hover, 
.dropup .dropdown-menu .dropdown-item:active, 
.dropup .dropdown-menu .dropdown-item:hover {
  color: #fff !important;
}

.dropdown .dropdown-menu.dropdown-primary .dropdown-item:active, .dropdown .dropdown-menu.dropdown-primary .dropdown-item:hover, .dropleft .dropdown-menu.dropdown-primary .dropdown-item:active, .dropleft .dropdown-menu.dropdown-primary .dropdown-item:hover, .dropright .dropdown-menu.dropdown-primary .dropdown-item:active, .dropright .dropdown-menu.dropdown-primary .dropdown-item:hover, .dropup .dropdown-menu.dropdown-primary .dropdown-item:active, .dropup .dropdown-menu.dropdown-primary .dropdown-item:hover {
    background-color: rgba(233, 30, 99, 0.7) !important;
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover, .dropleft .dropdown-menu .dropdown-item:active, .dropleft .dropdown-menu .dropdown-item:hover, .dropright .dropdown-menu .dropdown-item:active, .dropright .dropdown-menu .dropdown-item:hover, .dropup .dropdown-menu .dropdown-item:active, .dropup .dropdown-menu .dropdown-item:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    background-color: #4285f4;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.dropdown .dropdown-menu .dropdown-item {
  padding: .5rem;
margin-left: 0;
font-size: .9rem;
}
.dropdown-menu {
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown:focus .dropdown-menu,
.dropdown:focus-within .dropdown-menu,
.dropdown:hover .dropdown-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;} /* this removes the transition delay so the menu will be visible while the other styles transition */

#info2 {
  margin-top: -100px;
}
.border {
  border: 2px solid rgba(233, 30, 99, 0.7) !important;
}
.custom-height-2 {
  line-height: 1.6;
}
.sub-feature-list {
  list-style: none;
  line-height: 2;
}

.sub-feature-list li:before {
  content: '✓  ';
  border-radius: 6px;
  margin-right: 5px;
  background-color: rgba(233, 30, 99, 0.1);
  padding: 5px 4px 5px 8px;
  color: rgba(233, 30, 99, 0.7);
}
.section-padding {
  padding-top: 150px;
  padding-bottom: 150px;
}
.section-padding2 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.banner {
  background: url('../img/banners/payment-banner.jpg')no-repeat center center;
  background-size: cover;
}
.footer-text {
  color: #272e4b !important;
}